@model Pets.Tracker.Shared.Models.ViewModels.Admin.DatabaseManagementViewModel
@using Pets.Tracker.Shared.Models.Other.Enums
<div>
    <h4>DatabaseManagementViewModel</h4>
    <hr />
    <div class="row">
        <div class="col-2">
            @Html.DisplayNameFor(model => model.Database)
        </div>
        <div class="col-10">
            <select asp-for="Database" asp-items="@Html.GetEnumSelectList(typeof(Database))"></select>
        </div>
    </div>
</div>

<div id="databaseContainer">

</div>


<script>
    var listener = new DatabaseSelectListListener();
    listener.initialise();

    function DatabaseSelectListListener() {
        var self;
        this.initialise = function () {
            this.databaseSelector = document.getElementById("Database");
            self = this;

            this.databaseSelector.addEventListener("change", this.ajaxLoad);
        }

        this.ajaxLoad = function () {
            let selectedDatabase = self.databaseSelector.selectedOptions[0].text;
            let url = "";
            switch (selectedDatabase) {
                case "Animal":
                    {
                        url = "@Url.Action("Index","Animals", new { area = "Admin"}, null)";
                        break;
                    }
                case "Breed":
                    {
                        url = "@Url.Action("Index","Breeds", new { area = "Admin"}, null)";
                        break;
                    }
            }
            $.get(url, function (data) {
                $("#databaseContainer").html(data);
            });
        }
    }
</script>